body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

.content {
  display: flex;
  min-height: 100vh;
}


.chat {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0 12rem;
  width: 100%;
}

.chat__title {
  font-size: 2rem;
  margin: 0;
}

.chat__responses {
  width: 100%;
  background-color: aliceblue;
  color: black;
  border-radius: 8px;
  padding: 1rem;
  max-height: 65vh;
  min-height: 50vh;
  overflow-y: auto;
}

.chat__history {
  width: 100%;
  background-color: #222;
  border-radius: 8px;
  padding: 1rem;
  max-height: 10vh;
  overflow-y: auto;
}

.chat__history__message {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #333;
  border-radius: 4px;
}

.chat__input {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.chat__input-field {
  width: 80%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 1rem;
  font-size: 1rem;
}

.chat__send-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: #1a6cc4;
  color: white;
  cursor: pointer;
}

.chat__response__sources__list {
  display: flex;
  gap: 0.1rem;
  list-style-type: none;
  padding: 0;
  /* max-width: 60vw; */
  flex-wrap: wrap;
}

.chat__response__sources__list__item {
  cursor: pointer;
  color: #fff;
  background-color: #1a6cc4;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 0.25rem;
  font-size: 0.8rem;

}